@import "../variables.scss";

.buttons_container {
  width: 100%;
  display: flex;
  gap: 12px;
  justify-content: flex-end;

  button {
    width: 40px;
    height: 40px;
    background-color: $c-button-dark-grey;
    color: $c-text-white;
    font-weight: 700;
    font-size: 18px;
    border: none;
    border-radius: 50%;

    &:hover {
      background: $c-text-white;
      color: $c-button-dark-grey;
    }
  }

  .active {
    background: $c-text-white;
    color: $c-button-dark-grey;
  }

  @media (max-width: 600px) {
    display: none;
  }
}
