@import "../variables.scss";

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 46px;

  .chooseButton {
    background: $c-button-grey;
    color: $c-text-white;
    border: none;
    padding: 0 18px;
    font-size: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .gpsButton {
    background: $c-button-grey;
    border-radius: 50%;
    border: none;
    display: grid;
    place-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    svg {
      scale: 60%;
      fill: $c-text-white;
    }
  }
}
