@import "../variables.scss";

.sidebar {
  background-color: $c-background-second;
  width: 30%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  .weather_img {
    background: url("../../../public/Cloud-background.png");
  }

  .location {
    display: flex;
  }

  span {
    font-size: 144px;
  }
}
