.layout {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.main_page {
  width: 65%;
  height: 100vh;
  padding: 40px 130px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
