.layout {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}
.main_page {
  height: 100vh;
  padding: 2% 8%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 999;
  flex-basis: 0;
  gap: 40px;
}
