//fonts

//colors
$c-background: #100e1d;
$c-background-second: #1e213a;

$c-text-white: hsla(240, 9%, 91%, 1);
$c-text-grey: hsla(243, 10%, 66%, 1);
$c-text-dark-grey: hsla(245, 11%, 57%, 1);
$c-text-dark: hsla(244, 62%, 15%, 1);

$c-button-grey: #6e707a;
$c-button-dark-grey: #585676;

$c-blue: #3c47e9;
$c-yellow: #ffec65;

$button-size: 40px;
$close-width: ($button-size / 10);
